.parent{
    height: 100vh;
    width: 100vw;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/12345.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.errors{
   color: red;
}