<div class="parent">
    
<form>
    <h1>Registration Form!</h1>
    <label for="first">Firstname:</label>
    <input type="text" id="first"><br><br>
    <label for="last">Lastname:</label>
    <input type="text" id="last"><br><br>
    <label for="gender">Gender:</label>
    <input type="radio" name="gender">
    <label >Male</label>
    <input type="radio" name="gender">
    <label>Female</label><br><br>
    <label>Date of Birth: </label>
    <input type="date"><br><br>
    <label>Country: </label>
    <select>
        <Option>India</Option>
        <Option>USA</Option>
        <Option>UK</Option>
        <Option>Italy</Option>
    </select><br><br>
    <label>Choose File: </label>
    <input type="file"><br><br>
<button>Register</button>
</form>

</div>
